.root{
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(36, 34, 34,0.5);
  z-index: 12000;
  display: flex;
  justify-content: center;
  align-items: center;
}