.root{
  border: 1px solid #bbbdc0;
  border-radius: 5px;
  box-shadow: 3px 3px #bbbdc0;
  padding: 5px;
  min-height: 400px;
  max-height: 400px;
  cursor: pointer;
}

.bannerImg{
  height: 300px;
  width: 100%;
  border-radius: 5px;
}